.card {
  text-align: center;
  width: 400px;
  padding: 0.6rem;
  border: 1px solid rgba($color: #828f89, $alpha: 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    margin: 0.6rem;
    align-self: flex-end;

    button {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 0.6rem;
      border: 2px solid rgba($color: #000, $alpha: 0.1);
      border-radius: 5px;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    &__view {
      margin-right: 1rem;
    }

    &__remove {
      color: white;
      background-color: rgba($color: #ff0000, $alpha: 0.8);
  
      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }
}
