footer {
  height: 130px;
  border: 1px solid rgba($color: #69706d, $alpha: 0.1);
  background-color: rgba($color: #828f89, $alpha: 0.1);
  display: flex;
  align-items: center;

  ul {
    margin-left: 10%;
    margin-right: 5rem;

    li {
      margin: 0.5rem;

      &:hover {
        text-shadow: 1px 1px 1px rgba($color: #000, $alpha: 0.3);
      }
    }
  }

  p {
    font-weight: 500;
    margin-left: 15%;
    align-self: flex-end;
  }
}
