header {
  height: 100px;
  padding: 0.3rem;
  border: 1px solid rgba($color: #69706d, $alpha: 0.1);
  background-color: rgba(122, 240, 183, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2.5rem;
    margin-left: 10%;
    margin-right: auto;
  }

  nav {
    margin-right: 10%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 1.2rem;
      margin-left: 1rem;

      &:hover {
        text-shadow: 1px 1px 1px rgba($color: #000, $alpha: 0.3);
      }
    }
  }
}
