.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &.enter-done {
    opacity: 1;
    pointer-events: visible;
  }

  &.exit {
    opacity: 0;
  }

  &__content {
    text-align: center;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);

    &__header {
      padding: 0.6rem;

      &__title {
        margin: 0;
      }
    }

    &__body {
      padding: 0.6rem;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      &__error {
        color: red;
        font-size: 1.1rem;
        margin: 1rem;
      }
    }

    &__footer {
      text-align: right;
      padding: 0.6rem;

      button {
        color: #333;
        font-size: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #f5f5f5;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          transform: translateY(1px);
        }
      }

      &__cancel {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
    }
  }

  &.enter-done .modal__content {
    transform: translateY(0);
  }

  &.exit .modal__content {
    transform: translateY(-200px);
  }
}
